

@font-face {
	font-family: 'Candara';
	src: url('fonts/Candara/Candara.eot');
	src: local('O'), url('fonts/Candara/Candara.woff') format('woff'), 
	url('fonts/Candara/Candara.ttf') format('truetype'), 
	url('fonts/Candara/Candara.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Calibri';
	src: url('fonts/Calibri/Calibri.eot');
	src: local('☺'), url('fonts/Calibri/Calibri.woff') format('woff'), 
	url('fonts/Calibri/Calibri.ttf') format('truetype'), 
	url('fonts/Calibri/Calibri.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: "RalewayRegular";
    src: url("fonts/RalewayRegular/RalewayRegular.eot");
    src: url("fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
	font-family: 'ArcherBoldPro';
	src: url('fonts/ArcherBoldPro/ArcherBoldPro.eot');
	src: local('☺'), url('fonts/ArcherBoldPro/ArcherBoldPro.woff') format('woff'), 
	url('fonts/ArcherBoldPro/ArcherBoldPro.ttf') format('truetype'), 
	url('fonts/ArcherBoldPro/ArcherBoldPro.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'QuicksandRegular';
	src: url('fonts/QuicksandRegular/QuicksandRegular.eot');
	src: local('O'), url('fonts/QuicksandRegular/QuicksandRegular.woff') format('woff'), 
	url('fonts/QuicksandRegular/QuicksandRegular.ttf') format('truetype'), 
	url('fonts/QuicksandRegular/QuicksandRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}





/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px Arial, sans-serif;
}
.wrapper {
	min-width: 480px;
	max-width: 2400px;
	margin: 0 auto;
}
.inb {
	position: relative;
	overflow: hidden;
	max-width: 1170px;
	padding: 1px 2% 0;
	margin: auto;
}


/* Header ----------------------------------------------------------------------------- */
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 480px;
	height: 95px;
	background: rgba(48,48,48,0.7);
	z-index: 200;
	-webkit-transition: all 0.4s ease;
	   -moz-transition: all 0.4s ease;
	    -ms-transition: all 0.4s ease;
	     -o-transition: all 0.4s ease;
	        transition: all 0.4s ease;
	min-width: 480px;
	margin: auto;
}
.header.fixed {
	height: 60px;
	background: rgba(48,48,48,0.9);
}
.h_logo {
	display: block;
	width: 200px;
	height: 77px;
	background: url('i/logo.png') no-repeat;
	text-indent: -2989px;
	float: left;
	margin: 8px 0 0 18px;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	-webkit-transition: all 0.4s ease;
	   -moz-transition: all 0.4s ease;
	    -ms-transition: all 0.4s ease;
	     -o-transition: all 0.4s ease;
	        transition: all 0.4s ease;
}
.header.fixed .h_logo {
	width: 144px;
	height: 55px;
	margin: 3px 0 0 10px;
}
.h_nav {
	float: right;
	text-align: right;
	font-size: 0;
}
.h_nav-btn {
	display: none;
	width: 58px;
	height: 58px;
	position: relative;
	margin: 18px 18px 0 0;
	-webkit-transition: all 0.4s ease;
	   -moz-transition: all 0.4s ease;
	    -ms-transition: all 0.4s ease;
	     -o-transition: all 0.4s ease;
	        transition: all 0.4s ease;
	cursor: pointer;
}
.header.fixed .h_nav-btn {
	margin-top: 1px;
}
.h_nav-btn:before, .h_nav-btn:after {
	content: "";
	position: absolute;
	top: 18px;
	left: 50%;
	width: 34px;
	margin-left: -17px;
	height: 6px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.h_nav-btn:after {
	top: 27px;
}
.h_nav-btn.active:before, .h_nav-btn.active:after {
	border: none;
	height: 3px;
	background: #fff;
}
.h_nav-btn.active:before {
	top: 27px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.h_nav-btn.active:after {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.h_nav li {
	display: inline-block;
	margin: 0 20px;
}
.h_nav a {
	display: inline-block;
	height: 95px;
	padding: 0 2px;
	color: #FFF;
	font: 24px/95px 'Candara';
	text-transform: uppercase;
	letter-spacing: -1px;
	text-decoration: none;
	position: relative;
	-webkit-transition: all 0.4s ease;
	   -moz-transition: all 0.4s ease;
	    -ms-transition: all 0.4s ease;
	     -o-transition: all 0.4s ease;
	        transition: all 0.4s ease;
}
.header.fixed .h_nav a {
	height: 60px;
	font: 22px/60px 'Candara';
}
.h_nav a:before {
	content: "";
	position: absolute;
	top: 105%;
	left: 50%;
	width: 80%;
	height: 5px;
	margin-left: -40%;
	background: #FFF;
	-webkit-transition: top 0.6s ease;
	   -moz-transition: top 0.6s ease;
	    -ms-transition: top 0.6s ease;
	     -o-transition: top 0.6s ease;
	        transition: top 0.6s ease;
}
.header.fixed .h_nav a:before {
	height: 3px;
}
.h_nav a:hover:before {
	top: 70%;
}





/* Middle ----------------------------------------------------------------------------- */
.content {
}
.c_head {
	text-align: center;
	font: bold italic 48px/52px 'Candara';
	color: #2d3c58;
	margin-bottom: 78px;
	position: relative;
	text-transform: uppercase;
	padding: 0 28px;
}


/* Top ----------------------------------------------------------------------------- */
.c_top {
	width: 100%;
	min-width: 480px;
	min-height: 769px;
	background: #353838 url('i/bg-top.jpg') center top no-repeat;
	color: #FFF;
}
.c_top-head {
	font: bold italic 66px/75px 'Candara';
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 320px;
}
.c_top-txt {
	font: 24px/25px 'Calibri';
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top: 10px;
	width: 75%;
}



/* About ----------------------------------------------------------------------------- */
.c_about {
	width: 100%;
	margin: 90px 0 60px;
}
.c_about-head:before {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50%;
	width: 76px;
	height: 6px;
	margin-left: -38px;
	background: #2D3C58;
}
.c_about-txt {
	text-align: center;
	color: #212121;
	font: 24px/30px "RalewayRegular";
	letter-spacing: 2px;
	margin-bottom: 85px;
}
.c_about-sliderbox {
	width: 100% !important;
	height: auto;
	overflow: hidden;
	position: relative;
}
.c_about-slider {
	min-height: 570px;
}
.c_about-slider__info {
	position: relative;
	float: left;
	width: 31%;
	margin: 10px 0 0 17%;
	padding-bottom: 70px;
}
.c_about-slider__head {
	color: #2D3C58;
	font: bold 75px/70px 'ArcherBoldPro';
	margin-bottom: 20px;
}
.c_about-slider__txt {
	font: 24px/28px 'QuicksandRegular';
	color: #000;
}
.c_about-slider__more {
	display: block;
	margin: 80px 0 0 30px;
	width: 165px;
	height: 46px;
	border: 2px solid #000;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font: 16px/46px "RalewayRegular";
}

.c_about-slider__thumbs {
	float: right;
	width: 50%;
}
.c_about-slider__thumbs img {
	display: block;
	width: 100%;
	height: auto;
}

.bx-controls {
	position: absolute;
	bottom: 50px;
	left: 0;
	width: 50%;
	
}


/* Invest ----------------------------------------------------------------------------- */
.c_invest {
	width: 100%;
	margin: 60px 0;
}
.c_invest-txt {
	text-align: center;
	color: #212121;
	font: 21px/26px "RalewayRegular";
	letter-spacing: 0.5px;
	margin-bottom: 85px;
}
.c_invest-tabs {
	width: 100%;
	overflow: hidden;
}
.c_invest-tabs__caption {
	width: 100%;
	text-align: center;
	font-size: 0;
}
.c_invest-tabs__caption li {
	display: inline-block;
	width: 40%;
	vertical-align: top;
	font: 17px/24px "RalewayRegular";
	color: #b8b8b8;
	padding: 110px 5% 70px;
	background: #ebebeb;
	cursor: pointer;
	position: relative;
}
.c_invest-tabs__caption li:before {
	content: "";
	position: absolute;
	top: 55px;
	left: 50%;
	width: 49px;
	height: 39px;
	margin-left: -25px;
	background: url('i/icon.png') no-repeat;
}
.c_invest-tabs__caption li:last-child:before {
	background-position: 0 -39px;
}
.c_invest-tabs__caption li.active {
	background: #FFF;
	cursor: default;
}
.c_invest-tabs__head {
	font: 18px/24px 'ArcherBoldPro';
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #343434;
}

.c_invest-tabs__content {
	display: none;
}
.c_invest-tabs__content.active {
	display: block;
}

.c_invest-infograf {
 	width: 100%;
 	height: 1910px;
 	background: url('i/bg-ingograf.jpg') center top no-repeat;
 }



/* Areas ------------------------------------------------------------------------------ */
.c_areas {
 	margin: 60px 0;
}
.c_areas ul {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.c_areas ul:before {
	content: "";
	position: absolute;
	top: 30px;
	left: 50%;
	width: 1px;
	height: 2000px;
	background: #ebebeb;
}

.c_areas li {
	overflow: hidden;
	margin-bottom: 30px;
	position: relative;
}
.c_areas li:before {
	content: "";
	position: absolute;
	top: 25px;
	left: 50%;
	width: 17px;
	height: 17px;
	margin-left: -8px;
	background: #ebebeb;
	-webkit-border-radius: 100%;
	        border-radius: 100%;
}
.c_areas-thumbs {
	float: left;
	width: 47%;
	height: auto;
	overflow: hidden;
	text-align: right;
}
.c_areas li:nth-child(even) .c_areas-thumbs {
	float: right;
	text-align: left;
}
.c_areas-thumbs img {
	display: inline-block;
}
.c_areas-info {
	float: right;
	width: 47%;
	height: auto;
	overflow: hidden;
}
.c_areas li:nth-child(even) .c_areas-info {
	float: left;
}
.c_areas-title {
	font: bold italic 52px/60px 'Candara';
	color: #2d3c58;
	margin-bottom: 18px;
	position: relative;
	padding: 0 5px;
}
.c_areas li:nth-child(even) .c_areas-title {
	text-align: right;
}
.c_areas-txt {
	width: 90%;
	-webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 35px;
    -moz-column-gap: 35px;
    column-gap: 35px;
	font: 18px/24px 'QuicksandRegular';
}
.c_areas li:nth-child(even) .c_areas-txt {
	float: right;
}
.c_areas-txt p {
	margin-bottom: 20px;
}


.c_area-more {
	display: block;
	width: 121px;
	height: 121px;
	background: url('i/btn-all-post.png') no-repeat;
	margin: 0 auto 20px;
	text-indent: -2989px;
}



/* Footer ----------------------------------------------------------------------------- */
.footer {
	min-height: 470px;
	background: #222;
	border-top: 70px solid #1a1a1a;
	border-bottom: 20px solid #1a1a1a;
	color: #929292;
	font: 14px/30px 'Myriad Pro', 'Calibri';
}
.footer a {
	color: #FFF;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}
.f_top {
	padding: 34px 0 70px;
	text-align: center;
}
.f_left {
	float: left;
	margin: 0 1%;
	width: 23%;
}
.f_left-txt {
	text-transform: uppercase;
	color: #FFF;
	font: 14px/24px 'Calibri';
}
.f_logo {
	overflow: hidden;
	margin-bottom: 12px;
}
.f_logo .h_logo {
	margin: 0;
}
.f_right {
	float: right;
	margin: 0 1%;
	width: 23%;
}

.f_head {
	margin: 24px 0 44px;
	font: 24px/30px 'Calibri';
	color: #FFF;
	letter-spacing: 1px;
}

.f_copy {
	width: 100%;
	height: 72px;
	background: #1c1c1c;
	color: #595959;
	font: 16px/72px 'Calibri';
	text-align: center;
}

@media screen and (max-width: 1600px) {

	
	.c_about-slider__info {
		margin-left: 8%;
		width: 36%;
	}
	.c_about-slider__head {
		font: bold 65px/60px 'ArcherBoldPro';
		margin-bottom: 10px;
	}
	.c_about-slider__txt {
		font: 22px/26px 'QuicksandRegular';
	}
	.c_about-slider__more {
		margin-top: 30px;
	}
	.c_about-slider__thumbs {
		width: 55%;
	}
	.bx-controls {
		width: 45%;
	}
	
}


@media screen and (max-width: 1200px) {

	
	.c_about-slider__info {
		margin-left: 2%;
		width: 33%;
	}
	.c_about-slider__head {
		font: bold 55px/50px 'ArcherBoldPro';
		margin-bottom: 10px;
	}
	.c_about-slider__txt {
		font: 20px/24px 'QuicksandRegular';
	}
	.c_about-slider__more {
		margin-top: 30px;
	}
	.c_about-slider__thumbs {
		width: 65%;
	}
	.bx-controls {
		width: 35%;
	}

	.c_areas-thumbs, .c_areas-info {
		width: 48%;
	}
	.c_areas-thumbs img {
		width: 100%;
		height: auto;
	}
	.c_areas-title {
		font: bold italic 42px/50px 'Candara';
		margin-bottom: 10px;
	}
	.c_areas-txt {
		width: 96%;
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
		font: 17px/23px 'QuicksandRegular';
		margin: auto;
	}

	
	.f_left, .f_right {
		float: none;
		width: 31%;
		display: inline-block;
		text-align: left;
	}
	.f_one {
		float: none;
		width: 100%;
		margin-bottom: 20px;
		overflow: hidden;
	}
	.f_logo {
		width: 30%;
		float: left;
	}
	.f_left-txt {
		width: 65%;
		float: right;
		margin-right: 2%;
	}


	
}



@media screen and (max-width: 1000px) {

	.h_logo {
		margin-left: 0 !important;
	}

	.h_nav li {
		margin: 0 10px;
	}
	.h_nav li a {
		font-size: 19px !important;
	}

	.c_top-head {
		margin-top: 200px;
		font: bold italic 62px/72px 'Candara';
	}
	.c_top-txt {
		width: 80%;
	}
	
	.c_about-slider__info {
		margin-top: 0;
		margin-left: 2%;
		width: 52%;
	}
	.c_about-slider__head {
		font: bold 55px/50px 'ArcherBoldPro';
		margin-bottom: 10px;
	}
	.c_about-slider__txt {
		font: 20px/24px 'QuicksandRegular';
	}
	.c_about-slider__more {
		margin-top: 30px;
	}
	.c_about-slider__thumbs {
		width: 45%;
	}
	.bx-controls {
		width: 55%;
	}
	
	.c_areas ul:before, .c_areas li:before {
		display: none;
	}
	.c_areas-thumbs, .c_areas-info {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
	.c_areas-info {
		padding-bottom: 10px;
		border-bottom: 1px solid #EBEBEB;
	}
	.c_areas-thumbs img {
		width: auto;
		height: auto;
		display: block;
		margin: auto;
	}
	.c_areas-title {
		font: bold italic 42px/50px 'Candara';
		margin-bottom: 10px;
		text-align: center !important;
	}
	.c_areas-txt {
		width: 96%;
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		-webkit-column-gap: 0;
		-moz-column-gap: 0;
		column-gap: 0;
		font: 17px/23px 'QuicksandRegular';
		margin: auto;
	}


	
}



@media screen and (max-width: 800px) {
	
	.h_nav li {
		margin: 0 4px;
	}
	.h_nav li a {
		font-size: 16px !important;
	}

	.c_top-head {
		margin-top: 150px;
		font: bold italic 60px/70px 'Candara';
	}
	.c_top-txt {
		width: 85%;
	}

	.c_about-slider__info {
		width: 90%;
		margin: 0 5%;
	}
	.c_about-slider__thumbs {
		display: none;
	}

	.f_left, .f_right {
		width: 90%;
		margin: auto;
		text-align: left;
	}
	.f_one {
		float: none;
		width: 100%;
		margin-bottom: 20px;
		overflow: hidden;
	}
	.f_logo {
		width: 40%;
		float: left;
	}
	.f_left-txt {
		width: 55%;
		float: right;
		margin-right: 2%;
	}

}


@media screen and (max-width: 600px) {
	
	.header .inb {
		overflow: visible;
	}
	.h_nav-btn {
		display: block;
	}
	.h_nav ul {
		display: none;
		-webkit-transition: all 0.4s ease;
	   	-moz-transition: all 0.4s ease;
	    -ms-transition: all 0.4s ease;
	    -o-transition: all 0.4s ease;
	    transition: all 0.4s ease;
	}
	.h_nav ul.active {
		display: block;
		position: absolute;
		top: 95px;
		right: 0;
		width: 100%;
		background: rgba(48,48,48,0.7);
	}
	.header.fixed .h_nav ul.active {
		top: 60px;
		background: rgba(48,48,48,0.9);
	}
	.h_nav ul.active li {
		display: block;
		margin: 0 4%;
	}
	.h_nav a {
		width: 100%;
		font-size: 18px !important;
		line-height: 24px !important;
		height: auto !important;
		padding: 7px 0;
		-webkit-transition: all 0.4s ease;
	   	-moz-transition: all 0.4s ease;
	    -ms-transition: all 0.4s ease;
	    -o-transition: all 0.4s ease;
	    transition: all 0.4s ease;
	}
	.h_nav a:before, .h_nav a:after {
		content: "";
		position: absolute;
		top: 18px !important;
		left: inherit;
		right: -200px;
		width: 12px;
		height: 2px;
		background: #FFF;
		margin: 0;
		-webkit-transition: all 0.4s ease;
	   	-moz-transition: all 0.4s ease;
	    -ms-transition: all 0.4s ease;
	    -o-transition: all 0.4s ease;
	    transition: all 0.4s ease;
	}
	.h_nav a:before {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.h_nav a:after {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.h_nav a:hover {
		width: calc(100% - 30px);
		padding-right: 30px;
	}
	.h_nav a:hover:before {
		right: 6px;
	}
	.h_nav a:hover:after {
		right: 14px;
	}

	.c_top-head {
		margin-top: 140px;
		font: bold italic 50px/55px 'Candara';
	}
	.c_top-txt {
		width: 100%;
	}

	.c_areas-thumbs img {
		width: 100% !important;
	}

	.f_logo, .f_left-txt {
		width: 100%;
		float: none;
	}
	.f_logo .h_logo {
		margin: 0 auto !important;
		float: none;
	}
	.f_left-txt {
		width: 95%;
		margin: 20px auto 0;
	}

}

@media screen and (max-width: 480px) {
	
	.header {
		width: 480px !important;
	}
	.header .inb {
		width: 435px !important;
		padding: 0 35px 0 10px;
	}
	.h_nav ul.active li {
		margin: 0 65px 0 0;
	}

}






